{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="table-dark">
                <th>번호</th>
                <th>제목</th>
                <th>작성일시</th>
            </tr>
        </thead>
        <tbody>
            {% if gall_list %}
            {% for gallery in gall_list %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    <a href="{{ url_for('gallery.detail',id=gallery.id)}}">{{ gallery.title}}</a>
                </td>
                <td>{{ gallery.create_date }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">글이 없습니다</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <a href="{{ url_for('gallery.create')}}" class="btn btn-primary">글 작성하기</a>
</div>
{% endblock %}